* {
	background: none repeat scroll 0 0 transparent;
	border: 1 none;
	margin: 0;
	padding: 0;
	font-family: 微软雅黑;
	letter-spacing: 2px;
}

#navi {
	width: 100%;
	position: relative;
	word-wrap: break-word;
	border-bottom: 1px solid #065FB9;
	margin: 0;
	padding: 0;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
	/* background-image: -moz-linear-gradient(top, #EBEBEB, #BFBFBF);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EBEBEB),
		color-stop(1, #BFBFBF)); */
	background-image: -moz-linear-gradient(top, #388E8E, #40E0D0);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #388E8E),
		color-stop(1, #40E0D0));
	letter-spacing: 2px;
}

#naviDiv {
	font-size: 14px;
	color: #2011ef;
	padding-left: 10px;
}

#addForm {
	width: 50%;
	margin: 10px auto;
	background: rgb(234, 234, 234);
	padding: 10px;
}

table {
	width: 100%;
	background: rgb(240, 240, 240);
}

table tr {
	height: 40px;
	text-align: center;
	border: 1px solid white;
	
}



tabl tr td:nth-child(1) {
	letter-spacing: 2px;
}

.layui-form-item .layui-input-inline {
	width: 95%;
	float: none;
}

table tr td input[type="text"], table tr td input[type="password"] {
	width: 100%;
	height: 35px;
	text-align: center;
	margin-top: 10px;
	border: none;
	background: white;
}

.form-button {
	text-align: center;
	margin-bottom: 0;
	margin: 10px auto;
}

/* .button {
	padding: 6px 15px;
	background: rgba(255, 255, 255, .8);
	border: 1px solid #77D1F6;
	border-radius: 5px;
	cursor: pointer;
} */

.active{
	margin-right: 30px;
}
