<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.bzpower.dao.LockinfoMapper">
	<resultMap id="BaseResultMap"
		type="com.app.bzpower.entity.Lockinfo">
		<id column="lid" jdbcType="INTEGER" property="id" />
		<result column="did" jdbcType="VARCHAR" property="did" />
		<result column="mac" jdbcType="VARCHAR" property="mac" />
		<result column="passcode" jdbcType="VARCHAR" property="passcode" />
		<result column="classes" jdbcType="VARCHAR" property="classes" />
		<result column="voltage" jdbcType="VARCHAR" property="voltage" />
		
	
		<association property="companyId" javaType="com.app.bzpower.entity.Company">
			<id column="cid" property="id" />
			<result column="companyName" jdbcType="VARCHAR" property="companyname" />
		</association>
		
		<association property="transformersubId" javaType="com.app.bzpower.entity.TransformerSub">
	    	<id column="tid" property="id" />
	    	<result column="transformersub" jdbcType="VARCHAR" property="transformersub" />
	    </association>
    
	</resultMap>
	<sql id="Base_Column_List">
		lid, did, mac, passcode, classes, voltage, company_id,
		transformersub_id
	</sql>


	<select id="selectLockList" resultMap="BaseResultMap">
		select l.lid, l.did, l.mac, l.passcode, l.classes, l.voltage, c.cid,
		c.companyname, t.tid, t.transformersub
		from lockinfo l
		inner join company c
		on c.cid = l.company_id
		inner join transformersub t
		on t.tid = l.transformersub_id
		where 1=1
		<if test="voltage != null">
			and l.voltage = #{voltage}
		</if>
		<if test="companyId != null">
			and l.company_id = #{companyId}
		</if>
		order by t.transformersub desc
		<if test="pageData.limit != 0">
			limit #{pageData.startPage}, #{pageData.limit}
		</if>
	</select>


	<select id="selectByPrimaryKey"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select l.lid, l.did, l.mac, l.passcode, l.classes, l.voltage, c.cid,
		c.companyname, t.tid, t.transformersub
		from lockinfo l
		inner join company c
		on c.cid = l.company_id
		inner join transformersub t
		on t.tid = l.transformersub_id
		where l.id = #{id,jdbcType=INTEGER}
	</select>
	
	
	
	<select id="selectLockByDid"
		parameterType="java.lang.String" resultMap="BaseResultMap">
		select l.lid, l.did, l.voltage, t.tid, t.transformersub, c.cid,
		c.companyname
		from lockinfo l
		inner join company c
		on c.cid = l.company_id
		inner join transformersub t
		on t.tid = l.transformersub_id
		where l.did = #{did}
		
	</select>


	<insert id="insertSelective"
		parameterType="com.app.bzpower.entity.Lockinfo">
		insert into lockinfo
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				lid,
			</if>
			<if test="did != null">
				did,
			</if>
			<if test="mac != null">
				mac,
			</if>
			<if test="passcode != null">
				passcode,
			</if>
			<if test="classes != null">
				classes,
			</if>
			<if test="voltage != null">
				voltage,
			</if>
			<if test="companyId != null">
				company_id,
			</if>
			<if test="transformersubId != null">
				transformersub_id,
			</if>

		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="did != null">
				#{did,jdbcType=VARCHAR},
			</if>
			<if test="mac != null">
				#{mac,jdbcType=VARCHAR},
			</if>
			<if test="passcode != null">
				#{passcode,jdbcType=VARCHAR},
			</if>
			<if test="classes != null">
				#{classes,jdbcType=VARCHAR},
			</if>
			<if test="voltage != null">
				#{voltage,jdbcType=VARCHAR},
			</if>
			<if test="companyId != null">
				#{companyId.id,jdbcType=INTEGER},
			</if>
			<if test="transformersubId != null">
				#{transformersubId.id,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>

	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from lockinfo
		where lid = #{id,jdbcType=INTEGER}
	</delete>


	<update id="updateByPrimaryKeySelective"
		parameterType="com.app.bzpower.entity.Lockinfo">
		update lockinfo
		<set>
			<if test="did != null">
				did = #{did,jdbcType=VARCHAR},
			</if>
			<if test="mac != null">
				mac = #{mac,jdbcType=VARCHAR},
			</if>
			<if test="passcode != null">
				passcode = #{passcode,jdbcType=VARCHAR},
			</if>
			<if test="classes != null">
				classes = #{classes,jdbcType=VARCHAR},
			</if>
			<if test="voltage != null">
				voltage = #{voltage,jdbcType=VARCHAR},
			</if>

			<if test="transformersubId != null">
				transformersub_id = #{transformersubId.id,jdbcType=INTEGER},
			</if>
		</set>
		where lid = #{id,jdbcType=INTEGER}
	</update>



	<select id="countByExample"
		parameterType="com.app.bzpower.entity.Lockinfo"
		resultType="java.lang.Long">
		select count(lid) from lockinfo
		where 1=1
		<if test="voltage != null">
			and voltage = #{voltage,jdbcType=VARCHAR}
		</if>


		<if test="companyId != null">
			and company_id = #{companyId.id,jdbcType=INTEGER}
		</if>
	</select>


	<!-- <select id="selectByExample" parameterType="com.app.bzpower.entity.Lockinfo" 
		resultMap="BaseResultMap"> WARNING - @mbg.generated This element is automatically 
		generated by MyBatis Generator, do not modify. This element was generated 
		on Thu Aug 22 17:09:12 CST 2019. select <if test="distinct"> distinct </if> 
		<include refid="Base_Column_List" /> from lockinfo <if test="_parameter != 
		null"> <include refid="Example_Where_Clause" /> </if> <if test="orderByClause 
		!= null"> order by ${orderByClause} </if> </select> <delete id="deleteByExample" 
		parameterType="com.app.bzpower.entity.Lockinfo"> WARNING - @mbg.generated 
		This element is automatically generated by MyBatis Generator, do not modify. 
		This element was generated on Thu Aug 22 17:09:12 CST 2019. delete from lockinfo 
		<if test="_parameter != null"> <include refid="Example_Where_Clause" /> </if> 
		</delete> <insert id="insert" parameterType="com.app.bzpower.entity.Lockinfo"> 
		WARNING - @mbg.generated This element is automatically generated by MyBatis 
		Generator, do not modify. This element was generated on Thu Aug 22 17:09:12 
		CST 2019. insert into lockinfo (id, did, mac, passcode, classes, voltage, 
		company_id, transformersub_id) values (#{id,jdbcType=INTEGER}, #{did,jdbcType=VARCHAR}, 
		#{mac,jdbcType=VARCHAR}, #{passcode,jdbcType=VARCHAR}, #{classes,jdbcType=VARCHAR}, 
		#{voltage,jdbcType=VARCHAR}, #{companyId,jdbcType=INTEGER}, #{transformersubId,jdbcType=INTEGER}) 
		</insert> <update id="updateByExampleSelective" parameterType="map"> WARNING 
		- @mbg.generated This element is automatically generated by MyBatis Generator, 
		do not modify. This element was generated on Thu Aug 22 17:09:12 CST 2019. 
		update lockinfo <set> <if test="record.id != null"> id = #{record.id,jdbcType=INTEGER}, 
		</if> <if test="record.did != null"> did = #{record.did,jdbcType=VARCHAR}, 
		</if> <if test="record.mac != null"> mac = #{record.mac,jdbcType=VARCHAR}, 
		</if> <if test="record.passcode != null"> passcode = #{record.passcode,jdbcType=VARCHAR}, 
		</if> <if test="record.classes != null"> classes = #{record.classes,jdbcType=VARCHAR}, 
		</if> <if test="record.voltage != null"> voltage = #{record.voltage,jdbcType=VARCHAR}, 
		</if> <if test="record.companyId != null"> company_id = #{record.companyId,jdbcType=INTEGER}, 
		</if> <if test="record.transformersubId != null"> transformersub_id = #{record.transformersubId,jdbcType=INTEGER}, 
		</if> </set> <if test="_parameter != null"> <include refid="Update_By_Example_Where_Clause" 
		/> </if> </update> <update id="updateByExample" parameterType="map"> WARNING 
		- @mbg.generated This element is automatically generated by MyBatis Generator, 
		do not modify. This element was generated on Thu Aug 22 17:09:12 CST 2019. 
		update lockinfo set id = #{record.id,jdbcType=INTEGER}, did = #{record.did,jdbcType=VARCHAR}, 
		mac = #{record.mac,jdbcType=VARCHAR}, passcode = #{record.passcode,jdbcType=VARCHAR}, 
		classes = #{record.classes,jdbcType=VARCHAR}, voltage = #{record.voltage,jdbcType=VARCHAR}, 
		company_id = #{record.companyId,jdbcType=INTEGER}, transformersub_id = #{record.transformersubId,jdbcType=INTEGER} 
		<if test="_parameter != null"> <include refid="Update_By_Example_Where_Clause" 
		/> </if> </update> <update id="updateByPrimaryKey" parameterType="com.app.bzpower.entity.Lockinfo"> 
		WARNING - @mbg.generated This element is automatically generated by MyBatis 
		Generator, do not modify. This element was generated on Thu Aug 22 17:09:12 
		CST 2019. update lockinfo set did = #{did,jdbcType=VARCHAR}, mac = #{mac,jdbcType=VARCHAR}, 
		passcode = #{passcode,jdbcType=VARCHAR}, classes = #{classes,jdbcType=VARCHAR}, 
		voltage = #{voltage,jdbcType=VARCHAR}, company_id = #{companyId,jdbcType=INTEGER}, 
		transformersub_id = #{transformersubId,jdbcType=INTEGER} where id = #{id,jdbcType=INTEGER} 
		</update> -->
</mapper>