<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.bzpower.dao.TransformersubMapper">
  <resultMap id="BaseResultMap" type="com.app.bzpower.entity.TransformerSub">
    <id column="tid" jdbcType="INTEGER" property="id" />
    <result column="transformersub" jdbcType="VARCHAR" property="transformersub" />
    <result column="voltage" jdbcType="VARCHAR" property="voltage" />
    <association property="companyId" javaType="com.app.bzpower.entity.Company">
    	<id column="cid" property="id" />
    	<result column="companyName" jdbcType="VARCHAR" property="companyname" />
    	<result column="voltage" jdbcType="VARCHAR" property="voltage" />
    </association>
    
    
  </resultMap>
  
  
  <select id="selectTransformerSubList" resultMap="BaseResultMap">
		select t.tid, t.transformersub, t.voltage, c.companyname
		from transformersub t
		inner join 
		company c
		on c.cid = t.company_id
		where t.voltage = #{voltage} and c.companyname = #{companyname}
		order by t.transformersub desc
		<if test="pageData.limit != 0">
			limit #{pageData.startPage}, #{pageData.limit}
		</if>
		
  </select>
  
  <select id="selectTransformerSubListByCompanyId" resultMap="BaseResultMap">
		select t.tid, t.transformersub, t.voltage, c.companyname
		from transformersub t
		inner join 
		company c
		on c.cid = t.company_id
		where t.company_id = #{companyId}
  </select>
  
  <select id="selectTransfromerSub" resultMap="BaseResultMap">
		select t.tid, t.transformersub, t.voltage, c.cid, c.companyname
		from transformersub t
		inner join 
		company c
		on c.cid = t.company_id
		where t.company_id = #{companyId}
		and t.voltage = #{voltage}
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select t.tid, t.transformersub, t.voltage, c.cid, c.companyname
		from transformersub t
		inner join 
		company c
		on c.cid = t.company_id
		where t.tid = #{id}
  </select>
  
  
  <insert id="insertSelective" parameterType="com.app.bzpower.entity.TransformerSub">
    insert into transformersub
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        tid,
      </if>
      <if test="transformersub != null">
        transformersub,
      </if>
      <if test="voltage != null">
        voltage,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="transformersub != null">
        #{transformersub,jdbcType=VARCHAR},
      </if>
      <if test="voltage != null">
        #{voltage,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        #{companyId.id,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from transformersub where tid = #{id}
  </delete>
  
  
  <update id="updateByPrimaryKeySelective" parameterType="com.app.bzpower.entity.TransformerSub">
    update transformersub
    <set>
      <if test="transformersub != null">
        transformersub = #{transformersub,jdbcType=VARCHAR},
      </if>
      <if test="voltage != null">
        voltage = #{voltage,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        company_id = #{companyId.id,jdbcType=INTEGER},
      </if>
    </set>
    where tid = #{id,jdbcType=INTEGER}
  </update>
  
  
   <select id="countByExample" parameterType="com.app.bzpower.entity.TransformerSub" resultType="java.lang.Long">
    select count(tid) from transformersub where voltage = #{voltage} and company_id = #{companyId.id}
  </select>
  
  
  <!-- 
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">

  </select>
  
  <delete id="deleteByExample" parameterType="com.app.bzpower.entity.TransformerSubExample">


  </delete>
  <insert id="insert" parameterType="com.app.bzpower.entity.TransformerSub">
    insert into transformersub (id, transformersub, voltage, 
      company_id)
    values (#{id,jdbcType=INTEGER}, #{transformersub,jdbcType=VARCHAR}, #{voltage,jdbcType=VARCHAR}, 
      #{companyId,jdbcType=INTEGER})
  </insert>
  
 
  <update id="updateByExampleSelective" parameterType="map">
    update transformersub
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.transformersub != null">
        transformersub = #{record.transformersub,jdbcType=VARCHAR},
      </if>
      <if test="record.voltage != null">
        voltage = #{record.voltage,jdbcType=VARCHAR},
      </if>
      <if test="record.companyId != null">
        company_id = #{record.companyId,jdbcType=INTEGER},
      </if>
    </set>
  </update>
  <update id="updateByExample" parameterType="map">
    update transformersub
    set id = #{record.id,jdbcType=INTEGER},
      transformersub = #{record.transformersub,jdbcType=VARCHAR},
      voltage = #{record.voltage,jdbcType=VARCHAR},
      company_id = #{record.companyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.app.bzpower.entity.TransformerSub">
    update transformersub
    <set>
      <if test="transformersub != null">
        transformersub = #{transformersub,jdbcType=VARCHAR},
      </if>
      <if test="voltage != null">
        voltage = #{voltage,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.app.bzpower.entity.TransformerSub">
    update transformersub
    set transformersub = #{transformersub,jdbcType=VARCHAR},
      voltage = #{voltage,jdbcType=VARCHAR},
      company_id = #{companyId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update> -->
</mapper>